<p id="notice"><%= notice %></p>

<p>
  <strong>Rank:</strong>
  <%= @movie.rank %>
</p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Releasedate:</strong>
  <%= @movie.releaseDate %>
</p>

<p>
  <strong>Distributor:</strong>
  <%= @movie.distributor %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Mpaa:</strong>
  <%= @movie.mpaa %>
</p>

<p>
  <strong>Grossearning:</strong>
  <%= @movie.grossEarning %>
</p>

<p>
  <strong>Ticketssold:</strong>
  <%= @movie.ticketsSold %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
